@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Quicksand&display=swap");

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Chakra Petch", sans-serif;
  letter-spacing: 7px;
  font-size: 50px;
  margin: 10px;
  color: rgb(0, 0, 0);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px;
}

.total_home {
  margin-top: 100px;
}

.details {
  width: 40vw;
  max-width: 800px;
  margin-bottom: 100px;
}