input {
  width: 20vw;
  height: 30px;
  min-width: 300px;
}

.search-container {
  display: flex;
  flex-direction: column;
}

div.dropDown {
  width: 20vw;
  min-width: 300px;
  text-align: center;
  max-height: 250px;
  overflow: auto;
  position: absolute;
  margin-top: 35px;
  scrollbar-width: thin;
  scrollbar-color:#293757 #3282b8 ;
}

div.dropDown button {
  height: 30px;
  border: none;
  border-bottom: 1px white solid;
  color: white;
  background-color: rgb(41, 55, 87); ;
}

button.searchResult {
  width: 100%;
}
