.container {
  width: 20vh;
  min-width: 400px;
  height: 10vh;
  min-height: 200px;
  text-align: center;
  border-radius: 10px;
  transition: 0.15s ease-in-out;
}

.container:hover {
  box-shadow: 0px 0px 10px grey;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttonContainer > a > button {
  width: 70%;
}

.editDeleteContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 7px;
}

.editDeleteContainer > button {
  width: 35%;
}

button {
  border-radius: 40px;
  border: none;
}

.buttonContainer button {
  color: black;
  background-color: white;
  border: #000000 solid 2px;
  transition: 0.2s ease-in-out;
}

.buttonContainer button a {
  color: black;
  text-decoration: none;
}

.buttonContainer button a:hover {
  color: white;
}
.buttonContainer button:hover {
  color: white;
  background-color: black;
}
