.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.inputContainer {
  margin-bottom: 1rem;
}

.buttonContainer {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#password,
#email {
  width: 100px;
}

.loginButton,
.cancelButton {
  width: 70%;
  margin: 5px 0;
  border-radius: 40px;
  border: none;
}
.loginButton {
  background-color: rgb(43, 255, 36);
  transition: ease-in-out;
}

.loginButton:hover {
  color: white;
}

a {
  width: 100%;
}

input {
  margin: 5px 0;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px black solid;
}
