
h1{
  background-color: yellow;
}
.lobby-detail{
  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 2rem;
}
.main{
  display: flex;
  gap: 7.3rem;
}
.rightside{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px grey solid;
  
}
.leftSide{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px grey solid;
}

.rightside, .leftSide{
  width:40rem;
}

.rightside-item, .leftSide-items{
  padding-left: 6rem;
  padding-right: 6rem;
}

