
h1{
  background-color: yellow;
}
.lobby-detail{
  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 2rem;
}
.main{
  display: flex;
  gap: 7.3rem;
}
.rightside{
  background-color: red;
  
}
.leftSide{
  background-color: green
}
.rightside, .leftSide{
  width:40rem;
}

.rightside-item, .leftSide-items{
  padding-left: 6rem;
  padding-right: 6rem;
}