nav {
  background-color: transparent;
  overflow: hidden;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 22px;
}

.navLinks {
  width: 100%;
  display: flex;
  justify-content: center;
}

a.logout {
  color: white;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  padding: 5px 20px;
  transition: 0.2s ease-in-out;
}

a.link {
  color: black;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  padding: 5px 20px;
  transition: 0.2s ease-in-out;
  background-color: #dadada;
  border-radius: 50px;
  margin-right: 15px;
}

.logo {
  height: 60px;
  width: 300px;
  margin-top: -10px;
  float: left;
}

.logout {
  box-shadow: 0px 0px 5px #113953;
  background-color: #6a1bfc;
  border-radius: 20px;
}

a.link:hover {
  background-color: #c4c4c4;
  ;
}

a.logout:hover {
  background-color: #7e38ff;
}