* {
  box-sizing: border-box;
}

nav {
  background-color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  font-size: 22px;
  margin-top: 20px;
  padding-left: 50px;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

a.logout {
  color: white;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  padding: 1px 20px;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 5px #113953;
  background-color: #6a1bfc;
  border-radius: 5px;
}

a.link {
  color: black;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  padding: 0px 20px;
  transition: 0.2s ease-in-out;
  background-color: #b8b8b8;
  border-radius: 5px;
  margin-right: 15px;
  box-shadow: 0px 0px 5px #585858;
}

.logo {
  height: 60px;
  width: 300px;
}


a.link:hover {
  background-color: #c4c4c4;
}

a.logout:hover {
  background-color: #7e38ff;
}

.toggleButton {
  top: .7rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background-color: transparent;
  border: none;
}


.toggleButton span.bar {
  height: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px
}

@media only screen and (max-width: 900px) {
  .toggleButton {
    display: flex;
  }

  .navLinks {
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    align-content: space-between;
    width: 100%;
  }

  nav {
    padding: 0;
    margin-top: 0;
    margin-bottom: -50px;
    justify-content: space-between;
    flex-direction: column;
  }

  a.link,
  a.logout {
    width: 100%;
    min-width: 200px;
    padding: 5px 0;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    border-top: 1px solid black;
  }

  .toggleButton {
    margin-bottom: 5px;
  }

  .brand_name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px;
    align-items: center;
  }

  .logo {
    height: 50px;
    width: 250px;
  }
}