nav {
  background-color: #d3d3d3;
  overflow: hidden;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 25px;
}

.navLinks {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

a.link {
  color: 222831;
  text-decoration: none;
  text-align: center;
  width: fit-content;
}

.logo {
  height: 60px;
  width: 300px;
  margin-top: -10px;
  float: left;
}
