.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.label,
.button {
  margin-right: 0.5rem;
}

.buttonContainer {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.signupButton,
.cancelButton {
  width: 70%;
  margin: 5px 0;
}

a {
  width: 100%;
}

input {
  margin: 5px 0;
}
