
.trash{
  color: #ff00005c;
  cursor: pointer;
  margin-left: 5px;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  border: none;
  transition: all .15s ease-in-out;
}

.trash:hover{
  color:#ff3939
}

.leftAlign {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 10px;
}

.rightAlign {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
}

.messageContent{
  color: black;
  padding: 3px 10px;
  border-radius: 20px;
  background-color: rgb(96, 178, 255);
  width: fit-content;
  margin-bottom: 0px;
  max-width: 50%;
}


.otherMessageContent{
  color: black;
  padding: 3px 10px;
  border-radius: 20px;
  background-color: rgb(204, 204, 204);
  width: fit-content;
  margin-bottom: 0px;
  max-width: 50%;
}

.center{
  text-align: center;
  border: 4px rgb(188, 188, 188) solid;
  border-radius: 20px;
  background-color: rgba(96, 178, 255, .2);
}

.allMessageContainer{
  height: 65vh;
  width: 40vw;
  overflow: auto;
}