.msgContainer {
  border: 2px solid red;
}

.trash{
  color: #d3a38f;
  cursor: pointer;
  margin-left: 5px;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  border: none;
}

.trash:hover{
  color:#e47317
}

.leftAlign {
  margin-right: auto;
  text-align: left;
  color: purple;
}

.rightAlign {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 10px;
}

.underline {
  text-decoration: underline;
}

.messageContent{
  color: black;
  padding: 3px 10px;
  border-radius: 20px;
  background-color: rgb(96, 178, 255);
  width: fit-content;
  margin-bottom: 0px;
  max-width: 50%;
}

.messageContainer{
  overflow: auto;
  height: 35vh;
  margin: 10px 30px;
}